/* A cor de fundo */
.dark{
  background-color: rgb(39, 39, 39);
}

/* Modificações no titulo 'A família dos felinos'*/
h1 { 
  background-color: rgb(19, 19, 19);
  color: rgb(170, 170, 170);
  border-color: black;
}


/* Modificações nos items*/
.item {
  background-color: rgb(19, 19, 19);
  border-color: black;
}

/* Modificações nos textos dos itens e cabeçalhos dos itens*/
.item {
  color: rgb(230, 230, 230);
}